# ==============================================
# Maven Build Output
# ==============================================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ==============================================
# IDE - IntelliJ IDEA
# ==============================================
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# ==============================================
# IDE - VSCode
# ==============================================
.vscode/

# ==============================================
# IDE - Eclipse
# ==============================================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ==============================================
# OS Files
# ==============================================
.DS_Store
Thumbs.db

# ==============================================
# Logs
# ==============================================
*.log
logs/

# ==============================================
# Spring Boot
# ==============================================
application-local.yml
application-local.properties


# ==============================================
# Env
# ============================================== 
.env
.api-gateway/.env
.discovery-server/.env
.identity-service/.env
.post-service/.env